<div class="container-fluid text-center customHomCompClass">
   <div class="card text-white bg-info mb-3" style="width: 100%;">
      <div class="card-header">
         <h5><span style="font-size: larger; font-weight: bold;"> {{toolTitle}}</span>{{toolWelcome}}</h5>
      </div>
      <div class="card-body">
         <div class="card-text">
            <p>{{toolDescription}}</p>
            <p>{{toolInstruction}}</p>
         </div>
      </div>
   </div>
</div>
<app-comp-data-select></app-comp-data-select>