<nav class="navbar navbar-dark navbar-expand-lg customNavClass">
  <div class="container-fluid">
    <div class="navbar-nav">
      <a routerLink="/vaccinelouahok" class="nav-link active" aria-current="page">মুখ্যপৃষ্ঠা</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<div class="fixed-bottom">
  <footer class="page-footer customFooter">
    <div class="footer-copyright text-center py-3"> <span style="color: rgb(216, 233, 233);">©2021
        Copyright:</span><span style="color: rgb(51, 53, 52); font-weight: 600;"> VaccineLouAhok.com</span></div>
  </footer>
</div>